@charset "utf-8";

body {
    background-color: rgb(190, 223, 245);
}
h1 {
    text-align: center;
    color: rgb(69, 92, 156);
}

div {
    background-color: white;
    margin: auto;
    height: 50%;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
}

#ares {
    display: none;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(184, 200, 245);
    color: rgb(33, 56, 119);
    font-size: 1.2em;
}

a {
    text-align: center;
    color: rgb(93, 86, 194);
    font-size: 1.3em;
    
}

a:hover {
    color: rgb(255, 255, 255);
}